@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

/*#content { width:850px; margin: 10 auto; }*/
@font-face {
    font-family: 'PanPanZhuRouTi';
    src: url('panpanzhurouti.otf') format('opentype');
}

h1.style1 {
    font-family: 'PanPanZhuRouTi', sans-serif;
    letter-spacing: 25px;
    font-size: 40px;
    color: #ffffff;
    -webkit-text-stroke-width: thin;
    /* This sets the width of the stroke around the text */
    -webkit-text-stroke-color: #BA1928;
    /* This sets the color of the stroke around the text (for Safari and Chrome) */
    text-shadow:
        5px 5px 5px #0A0C9D,
        /* This sets the first layer of shadow */
        7px 7px 5px #0A0C9D;
    /* This sets the second layer of shadow */
}


#intro {
    clear: both;
    background: #fff url(jpg/spi.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    color: #863487;
    height: 60px;
    margin: 0 0 20px;
    padding: 45px 40px 0 0;
    text-align: right;
}

#intro h1 {
    margin: 0;
}

#intro p {
    margin: 0;
}


html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: lightskyblue;
}


img.left-top {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 182px;
    z-index: 999;
}

img.right-top {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: 182px;
}

body {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
}

h1,
h2,
h3 {
    color: #2a2a2a;
}

p,
input,
li {
    color: #2a2a2a;
    line-height: 28px;

    font-family: 'cwTeXYen', sans-serif;

}

/* Default styles */
#text {
    font-family: 'cwTeXYen', sans-serif;
}

/* Styles for web */
@media screen and (min-width: 768px) {
    #text {
        line-height: 40px;
    }
}

/* Styles for phone */
@media screen and (max-width: 767px) {
    #text {
        font-size:10rem;
        line-height: 80px;
    }
}



h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2.2rem;
}

p,
li {
    font-size: 1.6rem;
    line-height: 1.5;
}


nav,
article,
aside,
footer {
    background-color: white;
    padding: 1%;
}

nav {
    height: 50px;
    background-color: lightyellow;
    display: flex;
    margin-bottom: 10px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;

}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
}

input {
    font-size: 1.6rem;
    height: 32px;
}

input[type="search"] {
    flex: 3;
}

input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
}

/* Main layout */

main {
    display: flex;
}

article {
    flex: 4;
    font-size: 2rem;

}

aside {
    flex: 1;
    margin-left: 10px;
    background-color: linen;
}

aside li {
    padding-bottom: 10px;
}

footer {
    margin-top: 10px;

}